@charset "UTF-8";
.container {
  display: flex; }
  .container .item {
    background-color: #444; }

article {
  background-color: #ccc; }
  article article h2 {
    margin: 10px 0;
    padding: 0; }
  article .cosa {
    margin: 0; }

/* compress estás ahí? Excelente <3 */
