$gris-oscuro: #444;

.container{
	display: flex;

	.item{
		background-color: $gris-oscuro;
	}
}

article{
	background-color: #ccc;
	article h2 {
			margin: 10px 0;
			padding: 0;

	}
	.cosa{
		margin: 0;
	}
}

/* hola prueba */
